<div class="blog-container">
    <div class="blog-subcontainer">
        <div *ngIf="article"
             class="article-container">
            <div class="headerBox">
                <div  class="headerSubbox">
                    <div><span>{{article.fields.updatedDate | date:'EEEE, d MMMM y'}}</span></div>
                    <div style="display: flex; justify-content: center; flex-direction: row; align-items: center; margin-top: 5px; " >
                        <span *ngFor="let t of article.fields.tags" class="tag">#{{t}}</span>
                    </div>
                    <!--                    <a style="padding: 5px; border: 1px solid black; border-radius: 5px; color: black" [routerLink]="['/blog']">go back</a>-->
                </div>
                <div class="headerSubbox2"></div>
            </div>
            <div style="height: 5%; display: flex; justify-content: center; flex-direction: column; align-items: center;">
                <span class="title">{{"/" + article.fields.title}}</span>
            </div>
            <div style="width: 100%; height: 90%;  display: flex; justify-content: flex-start; flex-direction: column; align-items: center;">
                <div style="width: 100%; height: 90%; margin-top: 20px;">
                    <div *ngFor="let subart of article.fields.content.content[0].content" class="article"
                         style="margin-top: 20px;">
                        <div [ngClass]="{'subtitle':isBold(subart.marks)}">{{subart.value}}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex-column-center footer-container" style="height: 40vh; width: 100%;">
        <div style="height: 60%; width: 100%; "></div>
        <div style="height: 1px; width: 60%; background: #FD6331"></div>
        <div class="footer-subcontainer2">

            <div style="color: #eae3d2;">© Christian Viglianisi 2023</div>
            <div class="flex-row-center" style="color: #eae3d2; align-items: center; padding-top: 10px;">
                <a href="https://instagram.com/hertzdope" style="text-decoration: none; color: white"
                   target="_blank">IG</a>
                &nbsp;
                &nbsp;
                <a href="https://linkedin.com/in/cviglianisi" style="text-decoration: none; color: white"
                   target="_blank">LN</a>
            </div>
        </div>
    </div>
</div>